body{
    font-family: sans-serif;
}
.container-div
{
    display: flex;
   
    align-content: center;
    

}
caption{
    color: #b22222;
    text-align: left;
    font-size: 32px;
    
}
thead{
    background: #b22222;
}
table{
    border-collapse: collapse;
    width: 500px;
    height: 250px;
    box-shadow: 5px 10px 8px #ddd;
    
    
}
th{
    font-weight: lighter;
    padding: 15px;
    color: #fff;
    text-align: right;
    
    
}
td{
    padding: 15px;
    text-align: right;
    border-top: 1px solid #cccccc;
    
    
}
#th-1{
    text-align: left;
}


.td-col-1{
    background: #ddd;
    text-align: left;
    
}
.td-col-2 .td-col-3{
    background: #fff;
    
}



/* #b22222, #ddd, and #fff. */